<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .login {
            width: 500px;
            margin: 200px auto auto auto;
            text-align: center;
}
    </style>
</head>
<body>
  <h3><a href="/register">회원가입 페이지</a></h3>
    <form action="/checkLogin" method="post" class="form-example">
        <div class = "login">
            <h1 class = "title">로그인 페이지</h1>
            <hr>
            <p>ID: <input name = "uid" type="text" /></p>
            <p>PW: <input name = "pw" type="password" /></p>
            <input type="submit" value="로그인">
            <hr>
        </div>
    </form>
</body>
</html>